type audiohq, domain, coredomain;
type audiohq_exec, exec_type, file_type, system_file_type;
type audiohq_service, service_manager_type;
type audiohq_data_file, file_type, data_file_type, core_data_file_type;

typeattribute audiohq mlstrustedsubject;

init_daemon_domain(audiohq)

binder_use(audiohq)
binder_call(audiohq, binderservicedomain)
binder_call(audiohq, appdomain)
binder_service(audiohq)

allow audiohq self:process setcurrent;

allow audiohq audiohq_data_file:dir { rw_dir_perms create_dir_perms };
allow audiohq audiohq_data_file:file { rw_file_perms create_file_perms };

add_service(audiohq, audiohq_service)

allow audioserver audiohq_service:service_manager find;
allow priv_app audiohq_service:service_manager find;
allow platform_app audiohq_service:service_manager find;
allow shell audiohq_service:service_manager find;

r_dir_file(audiohq, domain)
